@import url('../../font.css');

.products {
    margin: 20px;
    .avatar {
        width: 100px;
        height: 100px;
        background-color: gainsboro;
        background-size: cover;
        background-position: top center;
        border-radius: 50%;
        padding: 10px;
    }
    .img {
        width: 100px;
        height: 100px;
        background-color: transparent;
        background-size: cover;
        background-position: top center;
        padding: 10px;
    }
}